[Unit]
Description=SearXNG Metasearch Engine
After=network-online.target

[Container]
Image=ghcr.io/searxng/searxng:latest
ContainerName=searxng
PublishPort=8080:8080
Volume=%h/.config/searxng:/etc/searxng:ro
UserNS=keep-id
EnvironmentFile=%h/.config/searxng/searxng.env
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=default.target
