\.git

# Files
.zhistory
autosave.json
faviconcache.db
faviconcache.db-shm
faviconcache.db-wal
gamelist.xml
lazy-lock.json
noctalia-colorscheme-cheatsheet.txt
package-lock.json

# Directories
**\/ES-DE\/themes
**\/humbleshot
**\/logs
src\/assets\/apikeys

# Extensions
*.bak
*.env

