\.git

# Specific Files
.zhistory
gamelist.xml
lazy-lock.json
noctalia-colorscheme-cheatsheet.txt
autosave.json

# Whole Directories
src\/assets\/apikeys

# Patterns
*.bak
*.env

**\/humbleshot
**\/logs
**\/themes

