\.git

config\/hypr\/theming\/current.conf
config\/kitty\/current-theme.conf
config\/kitty\/themes
config\/nvim\/lazy-lock.json
config\/nvim\/lua\/colors\/init.lua
config\/tmux\/plugins
config\/tmux\/plugins/tpm

noctalia-colorscheme-cheatsheet.txt

stow/usr-scripts/dot-local/scripts/humbleshot

**\/*\/nvim\/lazy-lock.json

.zhistory
.ruby-lsp

src\/assets\/apikeys
