[submodule "stow/zsh/dot-config/zsh/submodules/highlighting"]
	path = stow/zsh/dot-config/zsh/submodules/highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "stow/zsh/dot-config/zsh/submodules/completions"]
	path = stow/zsh/dot-config/zsh/submodules/completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "stow/zsh/dot-config/zsh/submodules/autosuggestions"]
	path = stow/zsh/dot-config/zsh/submodules/autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "stow/tmux/dot-config/tmux/plugins/tpm"]
	path = stow/tmux/dot-config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "stow/tmux/dot-config/tmux/plugins/tmux-continuum"]
	path = stow/tmux/dot-config/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "stow/tmux/dot-config/tmux/plugins/tmux-resurrect"]
	path = stow/tmux/dot-config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
