@import "theme.css";

* {
  font-family: Inter;
  font-size: 16px;
  font-weight: bold;
  min-height: 0;
}

#waybar {
  background-color: @base;
  color: @text;
  transition-property: background-color;
  transition-duration: 0.5s;
}

label.module {
  margin: 0 10px;
}

.modules-left {
  margin-left: 20px;
}

.modules-right {
  margin-right: 20px;
}

.modules-left > :first-child > label {
  margin-left: 0;
}

.modules-right > :last-child > label {
  margin-right: 0;
}
