{
    pki {
        ca local {
            name "MOTHERSHIP CA"
        }
    }
}

http://mothership {
    root * /certs
    rewrite /mothership-ca.crt /root.crt
    file_server
}

chat.mothership {
    tls internal
    reverse_proxy anythingllm:3001
}

search.mothership {
    tls internal
    reverse_proxy search:8080
}
