[Desktop Entry]
Version=1.0
Name=Discord
Comment=Discord
Exec=launch-webapp https://discord.com/app
Terminal=false
Type=Application
Icon=/home/israel/.local/share/applications/icons/discord.png
StartupNotify=true
Categories=Communication;
