[Unit]
Description=Caddy Reverse Proxy
After=homelab-network.service search-network.service
Requires=homelab-network.service search-network.service

[Service]
Restart=always

[Install]
WantedBy=default.target

[Container]
Image=docker.io/library/caddy:alpine
ContainerName=caddy
AutoUpdate=registry

# Port Bindings
PublishPort=80:80
PublishPort=443:443

# Networks
Network=homelab.network
Network=search.network

# Volumes
Volume=%h/.config/caddy/Caddyfile:/etc/caddy/Caddyfile:ro
Volume=caddy-data.volume:/data
Volume=caddy-config.volume:/config
Volume=%h/.local/share/containers/storage/volumes/caddy-data/_data/caddy/pki/authorities/local:/certs:ro
