[Unit]
Description=Ollama ROCm Container
After=homelab-network.service
Requires=homelab-network.service

[Service]
Restart=always

[Install]
WantedBy=default.target

[Container]
Image=docker.io/ollama/ollama:rocm
ContainerName=ollama
AutoUpdate=registry
Environment="OLLAMA_KEEP_ALIVE=-1"

AddDevice=/dev/kfd
AddDevice=/dev/dri

PublishPort=11434:11434
Network=homelab.network

Volume=ollama.volume:/root/.ollama
