[Unit]
Description=Postgres database for dev environment

[Service]
Restart=on-failure

[Container]
ContainerName=postgres
Image=docker.io/library/postgres:17-alpine
AutoUpdate=registry

Network=devenv.network
PublishPort=5432:5432

EnvironmentFile=%h/.config/containers/systemd/environments/dev.env

Volume=postgres.volume:/var/lib/postgresql/data
