[Unit]
Description=SearXNG Metasearch Engine
After=network-online.target

[Container]
Image=ghcr.io/searxng/searxng:latest
ContainerName=searxng
UserNS=keep-id
EnvironmentFile=%h/.config/searxng/searxng.env
AutoUpdate=registry

Network=bridge.network

# Volumes
Volume=%h/.config/searxng/:/etc/searxng/:rw

[Service]
Restart=always

[Install]
WantedBy=default.target
