[Unit]
Description=Valkey database for dev environment

[Service]
Restart=on-failure

[Container]
ContainerName=valkey
Image=docker.io/valkey/valkey:alpine
AutoUpdate=registry

Network=devenv.network
PublishPort=6379:6379

Volume=valkey.volume:/data
