[Unit]
Description=SearXNG metasearch engine
After=search-pod.service search-valkey.service
Requires=search-pod.service search-valkey.service

[Install]
WantedBy=default.target

[Service]
Restart=always

[Container]
Image=docker.io/searxng/searxng:latest
ContainerName=searxng
AutoUpdate=registry

EnvironmentFile=%h/.config/searxng/searxng.env
Environment=SEARXNG_VALKEY_URL=valkey://localhost:6379/0

Volume=search-searxng.volume:/etc/searxng/:rw
Volume=%h/.config/searxng/settings.yml:/etc/searxng/settings.yml:ro
Volume=%h/.config/searxng/favicons.toml:/etc/searxng/favicons.toml:ro
Volume=%h/.config/searxng/searxng.env:/etc/searxng/searxng.env:ro

Pod=search.pod
